@model PassionProject.Models.ViewModels.DetailsCocktail

@{
    ViewBag.Title = "Cocktail Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Cocktail Details</h2>
<h3><a href="~/Cocktail/Edit/@Model.SelectedCocktail.DrinkId">Update Cocktail</a></h3>
<h3><a href="~/Cocktail/DeleteConfirm/@Model.SelectedCocktail.DrinkId">Delete Cocktail</a></h3>

@if (Model.SelectedCocktail != null)
{
    <div>
        Drink Name: @Model.SelectedCocktail.DrinkName
    </div>
    <div>
        Drink Type: @Model.SelectedCocktail.DrinkType
    </div>
    <div>
        Drink Recipe: @Model.SelectedCocktail.DrinkRecipe
    </div>
    <div>
        Alcoholic Ingredient: @Model.SelectedCocktail.LiqIn
    </div>
    <div>
        Mix Ingredients: @Model.SelectedCocktail.MixIn
    </div>
    <div>
        Created by: @(Model.SelectedCocktail.FirstName + " " + Model.SelectedCocktail.LastName)
    </div>
}
else
{
    <p>@ViewBag.ErrorMessage</p>
}