@model PassionProject.Models.ViewModels.DetailsBartender
@{
    ViewBag.Title = "View";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Bartender Details</title>
</head>
<body>
    <div>
        <a href="/Bartender/List">Go back to list</a>
        <br />
        <a href="/Bartender/Edit/@Model.SelectedBartender.bartenderId">Update</a>
        <br />
        <a style="color:#ab2020;" href="/Species/DeleteConfirm/@Model.SelectedBartender.bartenderId">Delete</a>
        <h2>@Model.SelectedBartender.firstName @Model.SelectedBartender.lastName</h2>
        <div>Email: @Model.SelectedBartender.email</div>
        <div>Number of Cocktails Created: @Model.SelectedBartender.numDrinks</div>
        <div>Last Cocktail Created: @Model.SelectedBartender.lastDrink</div>


        <div style="margin-top:100px;">
            <h3>Cocktails Created By @Model.SelectedBartender.firstName</h3>
            @foreach (var cocktail in Model.CocktailsMade)
            {
                <a href="/Cocktail/Details/@cocktail.drinkId">@cocktail.drinkName</a>

            }
        </div>
</body>
</html>
